#container > h1 {
  @include font-head;
  background:$grey;
  color:#ffffff;
  height:$navWidth;
  line-height:$navWidth;
  padding-left:$margin;
  border-bottom:5px solid $green;
  position:relative;

  @include respond-to(tablet) {
    height:64px;
    line-height:64px;
  }

  .categories {
    z-index:2;
    display:block;
    position:absolute;
    right:$margin;
    top:0;
    line-height:$navWidth - 5px;
    vertical-align:middle;

    @include respond-to(tablet) {
      background:#363636;
      right:0;
      width:$navWidth*1.5;
      overflow:hidden;
      max-height:59px;
      &:hover {
        max-height:500px;
      }
    }

    li {
      line-height:12px;
      margin:0;
      vertical-align:middle;
      display:inline-block;


      @include respond-to(tablet) {
        display:block;
        margin:0 auto;
        text-align: center;
        width:100%;
        height:59px;
      }

      a{
        @include font-label-small;
        display:inline-block;
        padding:5px 8px;
        border-radius:12px;
        background:#363636;
        vertical-align:middle;
        line-height:12px;
        color:#666666;
        @include respond-to(tablet) {
          height:100%;
          width:100%;
          line-height:54px;
          border-radius:0;
        }
        &:hover {
          color:#aaaaaa;
        }
        &.active {
          background:#242424;
          color:#dddddd;
        }
      }
    }
  }
}
#container > h1.breadcrumb {
  height:44px;
  border:none;
  padding:0;
  overflow:hidden;

  ul {
    height:100%;
    li{
      display:block;
      float:left;
      height:100%;
      a {
        position:relative;
        @include font-label;
        display:block;
        line-height:44px;
        padding:0 $margin;
        &:hover {
          color:#ffffff;
        }
        &::after {
          content:"";
          display:block;
          width:32px;
          height:32px;
          border-top:1px solid #666666;
          border-right:1px solid #666666;
          position:absolute;
          right:0;
          top:50%;
          margin-top:-16px;
          @include prefix(transform,rotate(45deg));
        }

      }
      &:last-child  {
        a{
          color:#ffffff;
          &::after {
            display:none;
          }
        }
      }
    }
  }
}



.hero {
  position:relative;
  height:320px;
  @include gradient($green-light,$green-dark);
  text-align:center;
  overflow:hidden;
  border-bottom:5px solid $green;
  @include respond-to(phone) {
    height:240px;
    ul,ul li {
      height:240px;
    }
  }

  &.lime {
    @include gradient($lime-light,$lime-dark);
    border-bottom:5px solid $lime;
  }
  &.teal {
    @include gradient($teal-light,$teal-dark);
    border-bottom:5px solid darken($teal-dark,10%);
  }
  &.tall {
    height:420px;
    ul,ul li {
      height:420px;
    }
    @include respond-to(phone) {
      height:360px;
      ul,ul li {
        height:360px;
      }
    }
  }
  &.extra-tall {
    height:600px;
    ul,ul li {
      height:600px;
    }
    @include respond-to(phone) {
      height:420px;
      ul,ul li {
        height:420px;
      }
    }
  }

  a.prev,a.next {
    @include text-replace;
    position:absolute;
    z-index:1;
    height:100%;
    width:10%;
    top:0;
    ~ ul {@include prefix(transform,translate3d(-33.3333%,0,0));}
    &::after {
      content:"";
      display:block;
      position:absolute;
      top:50%;
      left:50%;
      width:18px;
      height:18px;
      border-right:1px solid #ffffff;
      border-top:1px solid #ffffff;
      margin-top:-9px;
      margin-left:-9px;
    }
  }
  a.prev {
    left:0;
    &:hover ~ ul {  
      @include prefix(transform,translate3d(-30.3333%,0,0));
    }

      &::after {
        @include prefix(transform,rotate(-135deg));
      }
  }
  a.next {
    right:0;
    &:hover ~ ul {  
      @include prefix(transform,translate3d(-36.3333%,0,0));
    }

      &::after {
        @include prefix(transform,rotate(45deg));
      }
  }

  ul {
    z-index:0;
    display:block;
    overflow:hidden;
    width:300%;
    height:320px;


    @include prefix(transition,all $duration);
    li {
      display:block;
      height:320px;
      overflow:hidden;
      width:33.33333%;
      float:left;
      background-size:cover;
      background-position:50% 50%;
      .hero-outer {
        display:table;
        width:80%;
        height:100%;
        margin:0 auto;
        > .hero-inner {
          width:100%;
          height:100%;
          display:table-cell;
          text-align: center; 
          vertical-align: middle;
        }
      }
    }
  }
  h3 {
    @include font-head-large;
    color:#ffffff;
  }
  h4 {
    @include font-head;
    color:#ffffff;
  }

  @include respond-to(phone) {height:240px; ul,ul li {height:240px;}}
  &.tall { height:420px;ul,ul li {height:420px;}
    @include respond-to(phone) {height:360px;ul,ul li {height:360px;}}
  }
  &.extra-tall { height:600px;ul,ul li {height:600px;}
    @include respond-to(phone) {height:420px;ul,ul li {height:420px;}}
  }
}