
.newsletter {
  position:relative;
  width:100%;
  background:$darkGrey;
  color:#ffffff;
  font-size:0;
  transition:background .2s;
  text-align:center;

  > h4, > .description,> form{
    padding:$margin/2 ;
    display:inline-block;
    overflow:hidden;
    vertical-align:middle;
    text-align:center;
    width:100%;
    max-width:520px;
  }

  > h4 {
    @include font-head-small;
    color:#ffffff;
    .label {
      display:block;
      color:$textDark-dark;
      @include font-label-small;
    }
  }
  > .description {
    @include font-text-small;
    color:$textDark-light;
    letter-spacing:.06em;
  }

  > form {
    width:100%;
    margin-bottom:$margin/2;
    input {
      vertical-align:middle;
      &:focus{
        outline:none;
        border:3px solid $green-light;
      }
    }
    input[type="text"] {
      @include font-text;
      width:75%;
      display:inline-block;
      border:none;
      line-height:42px;
      height:42px;
      padding:0 12px;
    }

    input[type="submit"] {
      @extend .button;
      @include prefix(transition,opacity $duration);
      padding:0;
      // line-height:42px;
      display:inline-block;
      width:42px;
      height:42px;
      border:none;
      margin-right:$margin;
      position:relative;
    }
    input.hide, .hide{
      display:none;
    }
    h5 {
      @include font-text;
      color:$textDark-light;
      width:40%;
      text-align:left;
    }
    .checkboxes {
      @include font-label-small;
      color:$textDark-light;
      width:60%;
      text-align:left;
    }

  }

  @include respond-to(desktop) {

    &:hover {
      background:lighten($darkGrey,10%);
    }
    > h4, > .description,> form{
      padding:$margin 0 $margin $margin;
      height:120px;
      text-align:left;
      @include prefix(transition,width $duration, padding $duration, opacity $duration);
    }
    > h4 {width:25%;}
    > .description {width:40%;}
    > form {
      margin-bottom:0;
      width:35%;
      height:auto;
      input[type="text"] {width:60%;}
    }
    > .close {
      position:absolute;
      top:0;
      right:0;
    }

    &.active {
      > h4,> .description {
        opacity:0;
        width:0;
        padding-right:0;
        padding-left:0;
      }
      >form {
          text-align:right;
          width:100%;
          max-width:9999px;
          font-size:0;
        input[type="text"] {
          width:30%;
          margin-right:3%;
        }

        input[type="submit"] {
          width:100px;
        }
      }
      h5 {
        
      }
      .hide{
        display:inline-block;
      }
    }

  }
}
