
.newsletter {
  position:relative;
  width:100%;
  background:$darkGrey;
  color:#ffffff;
  font-size:0;
  transition:background .2s;
  text-align:center;

  .col-1,.col-2,.col-3{
    text-align:left;
    padding:$margin/2 ;
    display:inline-block;
    vertical-align:middle;
  }
  .col-1 { width:$margin + 200px; }
  .col-2 { width:2*$margin + 400px; }
  .col-3 {
    width:100%;
    text-align:center;
  }

  h4 {
    @include font-head-small;
    color:#ffffff;
    .label {
      display:block;
      color:$textDark-dark;
      @include font-label-small;
    }
  }
  .description {
    @include font-text-small;
    color:$textDark-light;
    letter-spacing:.06em;
  }

  form {
    width: $margin*3 + 600px ;
    margin:$margin/2 auto;
    text-align:left;
    input {
      vertical-align:middle;
      &:focus{
        outline:none;
        border:3px solid $green-light;
      }
    }
    input.email{background-image:url(../img/form-email.png);}
    input.fname{background-image:url(../img/form-fname.png);}
    input.lname{background-image:url(../img/form-lname.png);}
    input{background-size:16px 16px;background-repeat:no-repeat;background-position:$margin/2 50%;}
    input[type="text"] {
      @include font-text;
      width:200px;
      margin-right:$margin;
      display:inline-block;
      border:none;
      line-height:42px;
      height:42px;
      padding:0 12px 0 36px;
    }

    input[type="submit"] {
      @extend .button;
      @include prefix(transition,opacity $duration);
      display:inline-block;
      border:none;
      width:$margin*2 + 600px;
      margin-top:$margin;
      position:relative;
    }

    h5 {
      @include font-text;
      color:$textDark-light;
      width:40%;
      text-align:left;
    }
    .checkboxes {
      @include font-label-small;
      color:$textDark-light;
      width:60%;
      text-align:left;
    }

  }

  @include respond-to(tablet) {
  
    .col-1,.col-2 { display:block; width:80%; margin:0 auto;}

    form {
      width:100%;

      input[type="text"] {
        width:80%;
        display:block;
        margin:0 auto;
        border-bottom:1px solid rgba($textDark-light,.2);
      }

      input[type="submit"] {
        display:block;
        width:80%;
        margin:0 auto;
      }
    }
  }

  &:hover {
    background:lighten($darkGrey,10%);
  }
}
